.d3-map {
  --d3m-border-width: 0.5;
  width: 100%;
  height: auto;
  * {
    outline-style: none;
  }

  [data-d3m="graticule"],
  [data-d3m="feature"],
  [data-d3m="mesh"] {
    &:not([stroke-width]) {
      stroke-width: var(--d3m-border-width);
    }
  }
  [data-d3m="sphere"],
  [data-d3m="sphere-border"],
  [data-d3m="line"],
  [data-d3m="annotation-line"] {
    &:not([stroke-width]) {
      stroke-width: calc(var(--d3m-border-width) * 2);
    }
  }
  [data-d3m="zoom"] path {
    vector-effect: non-scaling-stroke;
  }
}
