:root {
  --d3m-stroke-w: 0.5;
}

.d3-map {
  width: 100%;
  height: auto;

  [name="background"],
  [name="graticule"],
  [name="feature"],
  [name="mesh"] {
    outline-style: none;

    &:not([stroke-width]) {
      stroke-width: var(--d3m-stroke-w);
    }
  }

  [name="border"],
  [name="line"],
  [name="annotation-line"] {
    &:not([stroke-width]) {
      stroke-width: calc(var(--d3m-stroke-w) * 2);
    }
  }
  [name="zoom"] path {
    vector-effect: non-scaling-stroke;
  }
}
