@import 'tailwindcss';

:root {
  --vp-c-orange-1: #e04600;
  --vp-c-orange-2: #e85d14;
  --vp-c-orange-3: #ef7234;
  --vp-c-brand-1: var(--vp-c-orange-1);
  --vp-c-brand-2: var(--vp-c-orange-2);
  --vp-c-brand-3: var(--vp-c-orange-3);
  --vp-home-hero-name-color: var(--vp-c-brand-3);
}

.d3-map {
  [name='border']:not([stroke]) {
    stroke: var(--vp-c-border);
  }
  [name='background']:not([fill]) {
    fill: var(--vp-c-bg-alt);
  }
  [name='graticule']:not([stroke]) {
    stroke: var(--vp-c-divider);
  }
  [name='mesh']:not([stroke]) {
    stroke: var(--vp-c-border);
  }
  [name='feature']:not([fill]) {
    fill: var(--vp-c-text-1);
  }
  [name='marker'] {
    text {
      fill: var(--vp-c-brand-3);
      font-weight: bold;
      font-family: monospace;
    }
    circle {
      fill: var(--vp-c-brand-3)
    }
  }
}

.vue {
  color: #42b883;
}

.react {
  color: #58c4dc;
}

.svelte {
  color: #ff3e00;
}

.solid {
  color: #60a5fa;
}

@keyframes glowing {
  50%,
  100% {
    background-position: 180% 0;
  }
}

@keyframes float {
  from {
    translate: 0 -1%;
  }
  to {
    translate: 0 1%;
  }
}

.VPHome {
  margin-bottom: 0;
  .image-src {
    animation: 1s float ease-in-out infinite alternate;
  }
  .image-src:hover {
    animation-play-state: paused;
  }
  .image-bg {
    background: url(/d3-maps-logo.svg);
    background-position: center;
    filter: blur(60px);
  }
  .container {
    max-width: 1000px
  }
  .VPButton.brand {
    background-image: linear-gradient(
      -45deg,
      var(--vp-c-brand-3) 30%,
      color-mix(in oklab, var(--vp-c-brand-3), white 20%) 40%,
      var(--vp-c-brand-3) 50%
    );
    background-size: 200% auto;
    animation: 3s glowing linear infinite;
    transition: 0.3s ease;
  }
  .VPButton.brand:hover {
    animation-play-state: paused;
    filter: brightness(1.05);
  }
}

.VPNavBar:not(.has-sidebar) {
  .container {
    max-width: 1000px;
  }
}

.dark {
  .VPHome {
    .image {
      filter: brightness(0.9);
    }
  }
}