name: CI

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Detect docs changes
        id: changes
        uses: dorny/paths-filter@v3
        with:
          filters: .github/path-filters.yml

      - name: Setup repo
        uses: ./.github/actions/setup

      - name: Lint
        run: pnpm lint

      - name: Test
        run: pnpm test

      - name: Build (excluding docs)
        if: steps.changes.outputs.docs != 'true'
        run: pnpm build:packages

      - name: Build (including docs)
        if: steps.changes.outputs.docs == 'true'
        run: pnpm build
